.projects-title{
    color:brown;
    text-align: center
}

.projects-container {
    padding: 20px;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
}
.project-calculator {
    background: white;
    padding: 20px;
    margin-right: 20px;
    width: 33%;
    height: 50%;
    border: 2px solid white;
    border-radius: 10px;
}
.project-calculator img {
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
/* .project-calculator video {
    width: 100%;
    height:200px;
    object-fit: cover;
} */
.project-nature {
    padding: 20px;
    margin-right: 20px;
    width: 33%;
    border: 2px solid white;
    border-radius: 10px;    
    background: linear-gradient(to right,green, black);

}

.project-nature img {
    width: 100%;
    height:200px;
    border-radius: 10px;


}

.project-login {
    width: 33%;
    border: 2px solid white;
}
.project-login img {

}