.welcome-page {
   padding: 20px;
   /* margin-left: 50px; */
   text-align: center;
   
}
.welcome-page{
   background-color: pink;
   border: 5px dotted green;
   margin-left: 5px;
}
@media(max-width:600px){
   .welcome-layout{
      display: grid;
      grid-template-columns: 1fr 1fr 6fr;
   }
   
}